/* Add additional stylesheets below
-------------------------------------------------- */
/*
  Bootstrap's documentation styles
  Special styles for presenting Bootstrap's documentation and examples
*/

/* Body and structure
-------------------------------------------------- */
body {
    position: relative;
    padding-top: 60px;
    background-color: #fff;
    background-image: url(../img/grid-18px-masked.png);
    background-repeat: repeat-x;
    background-position: 0 40px;
}

/* Space out sub-sections more
-------------------------------------------------- */
section {
    padding-top: 50px;
}

.pace .pace-progress {
    background: #29d;
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    height: 2px;

    -webkit-transition: width 1s;
    -moz-transition: width 1s;
    -o-transition: width 1s;
    transition: width 1s;
}

.pace-inactive {
    display: none;
}

.well-item {
    padding: 5px 15px 15px;
    margin-bottom: 10px;
    background-color: #f5f5f5;
    border: 1px solid #eeeeee;
    border: 1px solid rgba(0, 0, 0, 0.05);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

a.blacklnk {
    color: #414141;
}


/* Faded out hr */
hr.soften {
    height: 1px;
    margin: 54px 0;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .1), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .1), rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .1), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .1), rgba(0, 0, 0, 0));
    border: 0;
}

/* Fixed subnav on scroll, but only for 980px and up (sorry IE!) */
@media (min-width: 980px) {
    .subnav-fixed {
        position: fixed;
        top: 40px;
        left: 0;
        right: 0;
        z-index: 1020; /* 10 less than .navbar-fixed to prevent any overlap */
        border-color: #d5d5d5;
        border-width: 0 0 1px; /* drop the border on the fixed edges */
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        -webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0, 0, 0, .1);
        -moz-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0, 0, 0, .1);
        box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0, 0, 0, .1);
        filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); /* IE6-9 */
    }

    .subnav-fixed .nav {
        width: 938px;
        margin: 0 auto;
        padding: 0 1px;
    }

    .subnav .nav > li:first-child > a,
    .subnav .nav > li:first-child > a:hover {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }
}
/* Footer
-------------------------------------------------- */
.footer {
    margin-top: 45px;
    padding: 35px 0 36px;
    border-top: 1px solid #e5e5e5;
}

.footer p {
    margin-bottom: 0;
    color: #555;
}

/* Misc
-------------------------------------------------- */

img {
    max-width: 100%;
}

/* Make tables spaced out a bit more */
h2 + table,
h3 + table,
h4 + table,
h2 + .row {
    margin-top: 5px;
}

form.well {
    padding: 14px;
}

/* Tighten up spacing */
.well hr {
    margin: 18px 0;
}


/* Responsive Docs
-------------------------------------------------- */
@media (max-width: 480px) {

    /* Reduce padding above jumbotron */
    body {
        padding-top: 70px;
    }

    /* Change up some type stuff */
    h2 {
        margin-top: 27px;
    }

    h2 small {
        display: block;
        line-height: 18px;
    }

    h3 {
        margin-top: 18px;
    }

    table code {
        white-space: normal;
        word-wrap: break-word;
        word-break: break-all;
    }

}

@media (max-width: 768px) {

    /* Remove any padding from the body */
    body {
        padding-top: 0;
    }

    /* Unfloat the back to top link in footer */
    .footer .pull-right {
        float: none;
    }

    .footer p {
        margin-bottom: 9px;
    }

}

@media (min-width: 480px) and (max-width: 768px) {
}

@media (min-width: 768px) and (max-width: 980px) {

    /* Remove any padding from the body */
    body {
        padding-top: 0;
    }
}

@media (max-width: 980px) {

    /* Unfloat brand */
    .navbar-fixed-top .brand {
        float: left;
        margin-left: 0;
        padding-left: 10px;
        padding-right: 10px;
    }

}

/* LARGE DESKTOP SCREENS */
@media (min-width: 1210px) {

    .subnav-fixed .nav {
        width: 1168px; /* 2px less to account for left/right borders being removed when in fixed mode */
    }

}